#imgIndex{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;     
}

#indexElement{
    text-align: center;
}

.cascadia-code{
    font-family: 'Cascadia Code', sans-serif; 
}


